.enneagram-type-test {
  padding: 18px 0px;
  margin: 18px 0px;
  border: 2px solid @color-1;
}
.enneagram-body-container {
  max-width: 800px;
  margin: auto;
  padding: 0px 45px;
}
h3 {
  text-align: center;
  width: 100%;
  font-size: 200%;
}
.reg-trademark {
  font-size: 50%;
  vertical-align: top;
}
p.intro {
  padding: 12px 0px;
}
span.p-directions {
  display: block;
  padding-bottom: 4px;
}
.group-statement {
  padding: 18px 0px;
}
.group-title {
  font-size: 120%;
}
div.statement {
  .BoxShadowHelper(3);
  border: 2px solid @color-1;
  border-radius: @borderRadius;
  padding: 12px 24px;
  margin: 8px auto;
  display: inline-block;
  cursor: pointer;
  &:active {
    background-color: @color-3;
  }
}
