<div class="results-container">
  <table class="results-table">
    <tr>
      <th>Group</th>
      <th>Tritype</th>
      <th>Order you use your types</th>
      <th>Potential Lead Type:</th>
    </tr>
    <tr>
      <td>A</td>
      <td><a href="<%= extNavList[0] + '/' + extNavList[a[0]] + '/' %>"><%= a[0] %></a></td>
      <td><%= a[1] %></td>
      <td ROWSPAN=3><a href="<%= extNavList[0] + '/' + extNavList[leadType] + '/' %>"><%= leadType %></a></td>
    </tr>
    <tr>
      <td>B</td>
      <td><a href="<%= extNavList[0] + '/' + extNavList[b[0]] + '/' %>"><%= b[0] %></a></td>
      <td><%= b[1] %></td>
    </tr>
    <tr>
      <td>C</td>
      <td><a href="<%= extNavList[0] + '/' + extNavList[c[0]] + '/' %>"><%= c[0] %></a></td>
      <td><%= c[1] %></td>
    </tr>
  </table>
</div>
