<h3>Free Enneagram Type and Tritype<span class="reg-trademark">&#174</span> Test</h3>
<hr>
<div class="instructions-container">
  <p class="intro">
    This is a simple test to help you determine your potential Enneagram Type and Tritype. Tests are not always definitive, but they are a great way to begin a deeper process of self-discovery.
  </p>
  <p class="directions">
    <span class="p-directions">Directions:</span>
  Simply select one statement from each group of three questions. Choose the sentence that is true for you most of your life and most of the time, not who you could be, should be, want to be or have become.
  Once you have selected the sentence in each group that is most like you, compare and contrast the 3 sentences you have chosen and rank them in the order of preference. The dominant type would be first, the second type most like you would follow the first and the type least like you of the three would be last. These three final choices may be the 3 Enneagram types in your Tritype®. Your first choice of these 3 types is often your dominant type
  </p>
</div>
