<header>
  <img src="/images/header.jpg"/>
</header>
<div id="cssmenu">
  <ul id="nav-list">
    <li class="page-collection">
          <a href="/">Home</a>
    </li>
    <li class="page-collection">
          <a href="/about/">About</a>
    </li>
    <li class="page-collection" id="yui_3_17_2_1_1496180570743_839">
          <a href="/endorsements-1/" id="yui_3_17_2_1_1496180570743_838">Endorsements</a>
    </li>
    <li class="page-collection">
          <a href="/coaching/">Coaching</a>
    </li>
    <li class="page-collection">
          <a href="/business/">Business</a>
    </li>
    <li class="page-collection">
          <a href="/trainings/">Trainings</a>
    </li>
    <li class="page-collection">
          <a href="/coaching/">Types</a>
    </li>
    <li class="page-collection">
          <a href="/tritype/">Tritype®</a>
    </li>
    <li class="page-collection">
          <a href="/tritype/">Instincts</a>
    </li>
    <li class="page-collection">
          <a href="/products/">Products</a>
    </li>
    <li class="page-collection">
          <a href="/videos-1/">Videos</a>
    </li>
    <li class="page-collection">
          <a href="/gallery/">Gallery</a>
    </li>
    <li class="page-collection">
          <a href="/research-articles/">Articles</a>
    </li>
    <li class="page-collection">
          <a href="/philanthropy/">Philanthropy</a>
    </li>
    <li class="page-collection">
          <a href="/contact/">Contact</a>
    </li>
    <li class="page-collection">
          <a href="/links/">Links</a>
    </li>
    </ul>
  </div>
